<%= form_with model: [commentable, Comment.new], local: true, id: "reply-form#{comm.id}" do |f| %>
  <%= f.text_area :text, class: 'reply-form-text-area' %>
  <%= f.hidden_field :parent_id, value: comm.id%>
  <div class="actions">
    <%= f.submit "返信する", class: 'reply-post-btn' %>
  </div>
<% end %>