<footer style="background-color: lightgray; height: 85px;">
  <p style="font-size: 15px; backgroud-color: gray; color: white; font-family: sans-serif; padding: 30px 0; text-align: center;">Copyright © 2022 Yumi Kubo</p>
</footer>