<%= render "shared/header" %>

<main class="main-box" style="background-color: #F5F5F5; height: 100vh; display: flex; align-items: center; ">
  <div class="main-content" style="width: calc(100vw - 200px); margin: 0 20px;  background-color: white; height: 600px;">
    <div>
      Main-content
    </div>
  </div>
  <div style="width: 200px; height: 600px;">
    Side bar
    <p>所属外のグループ</p>
      <% if @groups.length >= 1 %>
        <% @groups.each do |group| %>
          <% unless @user_groups.ids.include?(group.id) %>
          <div>
            <%= link_to "#{group.name}", group_path(group.id) %>
          </div>
          <% end %>
        <% end %>
      <% end %>
  </div>
</main>