.comment-field {
  width: 350px;
  min-width: 300px;
  min-height: 100vh;
  height: 100%;
  position: fixed;
  top: 0px;
  right: -100%;
  z-index: 80;
  background-color: white;
  transition: all 0.1s;
  border: 0.5px solid lightgray;
  overflow: scroll;
  padding: 15px;
}

.comment-field>p {
  color: gray;
}

.comments {
  width: 100%;
}

.comment-border {
  border-top: 1.5px solid #EEEEEE;
}

.comment-form {
  margin-top: 10px;
}

.comment-form-textarea {
  border: 1px solid gray;
  width: 100%;
  padding: 5px;
}

.actions {
  display: flex;
  justify-content: end;
}

.comment-submit-btn {
  padding: 0 10px;
  margin-bottom: 20px;
}

.comment-submit-btn:hover, .reply-post-btn:hover {
  background-color: #EEEEEE;
}

.menu-btn {
  position: fixed;
  top: 150px;
  right: 0px;
  display: flex;
  height: 100px;
  width: 30px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  writing-mode: vertical-rl;
  background-color: gray;
  color: white;
}

#menu-btn-check:checked ~ .menu-btn span {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0);
}

#menu-btn-check:checked ~ .menu-btn {
  top: 5px;
  right: 5px;
  height: 30px;
  transition: all 0.1s;
  color: rgba(255, 255, 255, 0);
}

#menu-btn-check:checked ~ .menu-btn span::before, #menu-btn-check:checked ~ .menu-btn span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 30px;
  background: white;
}

#menu-btn-check:checked ~ .menu-btn span::before{
  transform: translate(-50%,-50%) rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}

#menu-btn-check {
  display: none;
}

#menu-btn-check:checked ~ .comment-field {
  right: 0;
}

.comment {
  display: flex;
  margin: 5px 0;
}

.comment-avatar-box {
  width: 35px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 10px;
}

.comment-text-box {
  width: calc(100% - 35px);
}

.comment-nickname {
  height: 35px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.comment-text {
  color: gray;
}

.comment-text-bottom-box {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 50px;
  text-decoration: none;
  color: gray;
  text-align: center;
}

.comment-delete-p {
  width: calc(100% - 100px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.reply-box {
  width: calc(100% - 35px);
  margin-left: 35px;
  margin-bottom: 15px;
}

.reply-content {
  display: flex;
  align-items: center;
  height: 30px;
}

.reply-content>span {
  padding: 0 2px;
  font-weight: bold;
}

.reply-text {
  width: calc(100% - 28px);
  margin-left: 28px;
}

.reply-text-p {
  width: 100%;
  color: gray;
}

.reply-form-text-area {
  border: 1px solid gray;
  width: 100%;
  padding: 5px;
}

.time-ago {
  font-size: 11px;
  color: gray;