.comment-field {
  min-width: 300px;
  min-height: 100vh;
  height: 100%;
  position: fixed;
  top: 0px;
  right: -100%;
  z-index: 80;
  background-color: white;
  transition: all 0.1s;
  border: 0.5px solid lightgray;
  overflow: scroll;
  padding: 15px;
}

.comment-field>p {
  font-size: 18px;
}

.comment-form {
  margin-top: 10px;
}

.comment-form-textarea {
  border: 1px solid gray;
  width: 100%;
  padding: 10px;
}

.actions {
  display: flex;
  justify-content: end;
}

.comment-submit-btn {
  padding: 0 10px;
  margin-bottom: 20px;
}

.comment-submit-btn:hover {
  background-color: #EEEEEE;
}

.menu-btn {
  position: fixed;
  top: 130px;
  right: 10px;
  display: flex;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: #3584bb;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 2px;
  width: 20px;
  border-radius: 2px;
  background-color: #ffffff;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn {
  top: 5px;
  right: 5px;
  transition: all 0.1s;
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}

#menu-btn-check:checked ~ .comment-field {
  right: 0;
}

.comment-field 
}