  .site-header {
    height: 120px;
    width: 100vw;
    background-size: auto 100%;
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
    background-repeat: repeat;
  }

  .site-header-box {
    height: inherit;
    width: inherit;
    max-width: 1200px;
    padding: 10px 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .site-header-box-left {
    height: inherit;
    width: 50%;
    min-width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .site-header-box-right {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .site-header-box-left-upper {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: flex-end;
  }

  .site-header-box-left-lower {
    height: 40%;
    display: flex;
    align-items: center;
  }

  .site-header-box-left-upper>a {
    color: #54595F;
    text-decoration: none;
    font-weight: bold;
  }

  .site-header-box-left-upper>a>h1 {
    font-size: 35px;
    font-style: italic;
    text-shadow: 1px 2px 3px #808080;
  }

  .site-header-box-left-lower>a>p, .site-header-box-left-lower>p {
    margin-right: 10px;
    color: #54595F;
    font-weight: bold;
    text-align: center;
    font-size: 26px;
    font-style: italic;
    text-shadow: 1px 2px 3px #808080;
  }

  .site-header-box-left-lower>a>p:hover {
    color: rgba(255, 0, 0, 0.5);
  }

  .site-header-box-left-lower>.as {
    margin-right: 10px;
    color: #54595F;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    text-shadow: 1px 2px 3px #808080;
  }

  .user-edit-link {
    text-decoration: none;
    color: #54595F;
  }

  .site-header-box-right-group-select {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    color: #54595F;
  }

  .select-group {
    min-width: 135px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    background-color: #778899;
    color: white;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
  }

  .select-group:hover, .logging-btn:hover {
    opacity: 0.8;
  }

  .site-header-box-right-logging-btn {
    height: 100%;
    width: 30%;
    max-width: 100px;
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .logging-btn {
    width: 80px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    background-color: #778899;
    color: white;
    font-weight: bold;
  }

@media screen and (max-width: 500px) {
  .site-header {
    height: 150px;
    width: 100vw;
    background-size: auto 100%;
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
    background-repeat: repeat;
  }
  .site-header-box {
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
  }
  .site-header-box-left {
    height: 55%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .site-header-box-right {
    width: 100%;
    align-items: left;
  }

  .site-header-box-left-upper {
    display: flex;
    align-items: center;
    height: 100%;
    width: 60vw;
  }
  .site-header-box-left-upper>a>h1 {
    font-size: 32px;
  }
  .site-header-box-left-lower {
    height: 100%;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .site-header-box-left-lower>.as {
    text-align: center;
    font-size: 14px;
  }
  .site-header-box-left-lower>a>p, .site-header-box-left-lower>p {
    font-size: 18px;
  }
  
  .site-header-box-right-group-select {
    height: 100%;
    display: flex;
  }
} 