.site-header {
  height: 120px;
  background-size: auto 100%;
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
  background-repeat: repeat;
}

.site-header-box {
  display: flex;
  height: inherit;
  align-items: center;
}

.site-header-box-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.site-header-box-left h1 {
  font-family: sans-serif;
  color: #54595F;
  justify-content: center;
  text-shadow:5px 0 5px white;
}

.site-header-box-left p, .site-header-link {
  font-family: sans-serif;
  color: #54595F;
  font-size: 18px;
  text-decoration: none;
  text-shadow:3px 0 5px white;
}

.site-header-right {
  width: 100%;
}

.site-header-right ul {
  width: calc(100vw - 300px);
  height: 40px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.site-header-right ul>li>a, .select-group {
  font-family: sans-serif;
  color: #0170B9;
  text-decoration: none;
  font-weight: bold;
  text-shadow:1px 0 5px white;
}