img {

  object-fit: contain;
}

.post-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-list {
  width: 40vw;
  min-width: 285px;
  padding: 1vw;
  margin: 20px 40px;
  list-style: none;
}

.index-img:hover {
  opacity: 0.5;
}

.post-content {
  text-align: center;
}

.position-fixed-btn-signed-in {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-post-btn-field, .new-group-btn-field {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40%;
  max-width: 400px;
  margin: 0 20px;
  background-color: #54595F;
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
}

.new-post-btn-field:hover, .new-group-btn-field:hover {
  background-color: gray;
}


.individual-new-post {
  min-height: 100vh;
  width: 100vw;
  min-width: 380px;
  padding: 40px;
  background-color: #E6FFE9;

}

.individual-post-title-field {
  height: 50px;
  width: 100%;
}

.individual-post-text-field {
  height: 100px;
  width: 100%;

}

.new-post-field {
  margin-bottom: 20px;
  background-color: white;
  border: 0.5px solid lightgray;
  padding: 10px;
}

.image-field {
  background-color: white;
  border: 0.5px solid lightgray;
  min-height: 100px;
}

.preview-image {
  max-width: 400px;
  
}