img {

  object-fit: contain;
}

.post-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-list {
  width: 40vh;
  padding: 1vw;
  margin: 20px 50px;
  list-style: none;
}

.index-img:hover {
  opacity: 0.5;
}