img {
  /* object-fit: contain; */
}

.post-lists {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-list {
  width: 40vw;
  max-width: 400px;
  min-width: 285px;
  padding: 1vw;
  margin: 20px 40px;
  list-style: none;
}

.index-img:hover {
  opacity: 0.5;
}

.post-content {
  text-align: center;
}

.position-fixed-btn-signed-in {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-post-btn-field, .new-group-btn-field {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40%;
  max-width: 400px;
  margin: 0 20px;
  background-color: #54595F;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.new-post-btn-field:hover, .new-group-btn-field:hover {
  background-color: gray;
}

/* new.html.erb */
.individual-post-content, .group-post-content {
  min-height: 100vh;
  width: 100vw;
  min-width: 380px;
  padding: 0.3%;
}

.individual-post-content>h1, .group-post-content>h1 {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  color: #54595F;
}

/* _form.html.erb */
.individual-post-field, .group-post-field {
  max-width: 700px;
  margin: 0 auto;
}

.individual-post-image-file-field {
  margin-bottom: 10px;
}

.image-field {
  min-height: 100px;
}

.image-field-area>p>span {
  font-size: 12px;
}

.previews-box {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preview-image {
  max-width: 400px;
  margin-top: 20px;
}

.image-delete-button {
  width: 80px;
  padding: 3px;
  margin: 0 auto;
  background-color: #FF3300;
  border-radius: 2px;
  text-align: center;
  color: white;
  font-size: 14px;
}

.image-delete-button:hover {
  opacity: 0.8;
}

.click-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.message-field-area {
  margin-bottom: 30px;
}

.individual-post-title {
  height: 50px;
  width: 100%;
}

.individual-post-text {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-post-field {
  margin-bottom: 20px;
  background-color: #F9FAFB;
  border: 0.5px solid gray;
  padding: 10px;
}

.submit-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.individual-post-submit-btn, .group-post-submit-btn {
  padding: 10px;
  width: 300px;
  background-color: #2C7CFF;
  text-align: center;
  color: white;
}

.individual-post-submit-btn:hover, .group-post-submit-btn:hover {
  opacity: 0.8;
}

.individual-post-link-field {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* グループ投稿のみ */
.group-message-content>p, .member-message-content>p {
  background-color: lightgray;
  margin-bottom: 20px;
  padding: 10px;
  font-weight: bold;
}

.group-message-theme-field, .group-message-text-field, .member-message-field-area {
  width: 95%;
  margin: 0 auto;
}
.group-post-group_title {
  height: 50px;
  width: 100%;
}

.group-post-group_text {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-botton-box {
  height: 45px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.add_fields {
  width: 300px;
  padding: 12px;
  background-color: pink;
  text-decoration: none;
  text-align: center;
  color: #333333;
}

.add_fields:hover {
  opacity: 0.8;
}

/* _post_fields.html.erb */
.user-select-delete-area {
  display: flex;
  justify-content: space-between;
}

.member-post-delete-btn-field {
  display: flex;
  align-items: center;
}

.member-post-delete-btn {
  padding: 8px 20px;
  background-color: #FF3300;
  color: white;
  text-align: center;
  text-decoration: none;
}

.member-post-delete-btn:hover {
  opacity: 0.8;
}

.user-select-field-pulldown {
  min-width: 280px;
  padding: 12px;
  margin-bottom: 20px;
  background-color: pink;
  border: 0.5px solid gray;
  cursor: pointer;
}

.member-post-title-field {
  height: 50px;
  width: 100%;
}

.member-post-text-field {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member-post-title-field, .member-post-text-field, .image-field {
  background-color: white;
}

.click-upload>p>span {
  font-size: 14px;
}

.click-upload>.image-preview>img {
  max-width: 400px;
}

/* posts/show.html.erb, group_posts/show.html.erb */
.post-content-field, .group-post-content-field {
  background-color: #F5F5F5F5;
}

.post-title {
  padding-top: 20px;
  color: #444444;
}

.group_post_title {
  padding: 30px 0;
  color: #444444;
}

.post-title>p, .group-post-g-title {
  text-align: center;
  font-size: 24px;
}

.group-post-g-text {
  font-size: 20px;
  text-align: center;
}

.post-photos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  margin-top: 40px;
}

.post-user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-user-info>p {
  font-size: 20px;
  padding: 40px 0;
}

.user-info-box {
  padding: 20px;
  border: 0.5px solid gray;
  margin-bottom: 20px;
}

.user-image-field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.user-image-field>img {
  margin-right: 10px;
}

.user-p20, .user-g-p20 {
  font-size: 20px;
  font-weight: bold;
}

.user-p12, .user-g-p12 {
  font-size: 12px;
  text-align: center;
}

.user-g-p20, .user-g-p12 {
  color: white;
}

.group-post-edit-btn, .group-post-delete-btn, .post-edit-btn, .post-delete-btn {
  padding: 10px;
  margin-right: 10px;
  text-decoration: none;
  background-color: gray;
  color: white;
}

.group-post-edit-delete-btn, .post-edit-delete-btn {
  padding: 10px;
  display: flex;
  justify-content: center;
}



@media screen and (max-width: 500px) {
  .individual-post-content>h1 {
    font-size: 24px;
  }

  .individual-post-field {
    width: 95%;
    margin: 0 auto;
  }

  .preview-image {
    max-width: 100%;
  }

  .individual-post-image-file-field {
    max-width: 100%;
  }

  .click-upload>.image-preview>img {
    max-width: 280px;
  }

  .member-post-delete-btn {
    padding: 8px 10px;
  }

  .click-upload>p {
    width: 300px;
  }

  .photo-file-field {
    font-size: 12px;
  }
}