.main-form {
  min-height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DDDDDD;
}

.main-form>p, h2, h3 {
  font-family: sans-serif;
}

.signup-form, .group-submit-form {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.new_user, .group-submit-form>form {
  width: 100%;
  max-width: 400px;
}

.field {
  height: 40px;
  width: 100%;
  border: 0.5px solid #A9A9A9;
  padding: 10px;
}

.text-area-field {
  height: 120px;
  width: 100%;
  border: 0.5px solid #A9A9A9;
  padding: 10px;
}

.input-field {
  margin-top: 16px;
}

.two-in-one {
  display: flex;
  justify-content: space-between;
}

.profile-img-label, .last-name-label {
  color: gray;
}

.first-name-label {
  color: white;
}

.name-field {
  height: 40px;
  width: 100%;
  padding: 10%;
  border: 0.5px solid #A9A9A9;
  cursor: pointer;
}

.select-field, .last-name-field, .first-name-field {
  width: 48%;
}

.caution {
  font-size: 12px;
}

.prefecture-select, .camera_experience-select, .select-user {
  height: 40px;
  text-align: center;
  background-color: #DCDCDC;
  cursor: pointer;
  line-height: 1.5;
  width: 100%;
  border: 0.5px solid #A9A9A9;
}

.user-submit, .group-submit {
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #2C7CFF;
  color: white;
}

.user-add-btn {
  height: 40px;
  width: 60px;
  margin: 16px auto;
  background-color: #DCDCDC;
  text-align: center;
}

.member-name {
  height: 30px;
  margin-bottom: 10px;
}

.member-delete-btn {
  display: inline-block;
  height: 25px;
  width: 40px;
  background-color: #DCDCDC;
  text-align: center;
  cursor: pointer;
}

.login-link, .top-link, .back-link {
  text-decoration: none;
  color: gray;
}

.group-show {
  min-height: 100vh;
  max-width: calc(100vw - 40px);
  margin: 20px;
}

.group-field {
  margin: 20px 0;
}

.group-post-btn , .group-edit-btn{
  height: 35px;
  padding: 10px;
  background-color: #DCDCDC;
  text-decoration: none;
  text-align: center;
  color: black;
  cursor: pointer;
}