.main-form {
  min-height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #DDDDDD;
}

.sign-up-form, .group-submit-form {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}

.new_user, .edit_user, .group-submit-form>form {
  width: 100%;
  max-width: 400px;
}

.field {
  height: 40px;
  width: 100%;
  border: 0.5px solid #A9A9A9;
  padding: 10px;
}

.text-area-field {
  height: 120px;
  width: 100%;
  border: 0.5px solid #A9A9A9;
  padding: 10px;
}

.input-field {
  margin-top: 16px;
}

.input-field>input {
  width: 100%;
}

.two-in-one {
  display: flex;
  justify-content: space-between;
}

.profile-img-label, .last-name-label {
  color: gray;
}

.first-name-label {
  color: white;
}

.name-field {
  height: 40px;
  width: 100%;
  padding: 10%;
  border: 0.5px solid #A9A9A9;
  cursor: pointer;
}

.select-field, .last-name-field, .first-name-field {
  width: 48%;
}

.caution {
  font-size: 12px;
}

.prefecture-select, .camera_experience-select, .select-user {
  height: 40px;
  background-color: #DCDCDC;
  cursor: pointer;
  line-height: 1.5;
  width: 100%;
  border: 0.5px solid #A9A9A9;
  padding: 0 10px;
}

.user-submit, .group-submit {
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #2C7CFF;
  color: white;
}

.user-add-btn {
  height: 40px;
  width: 60px;
  margin: 16px auto;
  background-color: #DCDCDC;
  text-align: center;
}

.member-name {
  height: 30px;
  margin-bottom: 10px;
}

.member-delete-btn {
  display: inline-block;
  height: 25px;
  width: 40px;
  background-color: #DCDCDC;
  text-align: center;
  cursor: pointer;
}

.login-link, .top-link, .back-link {
  text-decoration: none;
  color: gray;
}

/* groups/show.html.erb */
.group-show-outline {
  padding: 20px;
  min-height: 100vh;
  max-width: 100vw;
  background-color: var(--main-bg-color);
}

.group-show-box {
  max-width: 1200px;
  margin: 0 auto;
}

.group-show-about-us {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  background-color: white;
  color: var(--main-font-color);
}
.group-show-about-us>h3, .group-show-about-us>h4 {
  margin-bottom: 10px;
}

.group-post-btn, .group-edit-btn{
  padding: 5px;
  width: 9%;
  min-width: 45px;
  margin-right: 1%;
  background-color: #DCDCDC;
  text-decoration: none;
  text-align: center;
  color: #54595F;
  cursor: pointer;
}

.group-show-member-lists {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  background-color: white;
  color: var(--main-font-color);
}

.group-member-field {
  margin-bottom: 20px;
  background-color: white;
}

.group-member-field>ul {
  padding: 5px;
  list-style: none;
}

.member-lists {
  display: flex;
  flex-wrap: wrap;
}

.member-list {
  display: flex;
  width: 400px;
  max-width: 250px;
}

.member-image-field {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-p16 {
  font-size: 16px;
  margin-bottom: 20px;
  color: #54595F;
}

.member-p10 {
  font-size: 10px;
}

.member-p16 {
  font-size: 16px;
  font-weight: bold;
}

.member-p16>span {
  color: #CC0000;
  font-size: 12px;
  font-weight: bold;
}

.group-member-introduction-field>ul {
  list-style: none;
}

.group-member-post-field {
  width: 100%;
}

.member-post-lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}